body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    /*background: #333;*/
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #444;
    padding: 0.5rem 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.banner {
    background: url('images/PoshakTransparentLogo.png') no-repeat center center/contain;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner h2 {
    font-size: 2.5rem;
    margin: 0;
}

.featured-products, .product-list {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    color: #888;
}

.about, .contact {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border: 1px solid #ddd;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
}
